@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    
    
}
body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  
    font-style: normal;
   
    background: rgba(0,0,0,0.898);
    color: white;
}
main{
    max-width: 1260px;
    margin: 0 auto;
}
/* ================= */
/* ==========================Navber-section-stret====================== */
.head-title h1{
    font-size: 46px;
    font-weight: 700;
    color: rgba(230, 83, 60, 1) ;
}

.main-navber-contianer{
   
}
.navber-main-container{
    display: flex;
    justify-content: space-between;
    max-width: 1260px;
    margin: 0 auto;
    padding: 20px;
}
.nav-icon{
margin-top: 12px;

margin-left: 0px;
background: rgba(0,0,0,0.898);
border-radius: 6px;
}
.nav-icon button{
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  background:rgba(0,0,0,0.898);
  margin-right: 15px;
  color: white;
  border-radius: 20px;
  border: none;
  text-align: center;
  
}
.btn-span{
    background-color: rgba(230, 83, 60, 1) ;
    padding: 10px;
    border-radius: 8px;
    
}
.hemaber-nav-menu{
    display: none;
}



@media screen and (max-width:900px) {
    .navber-main-container{
        flex-direction: column;
        align-items: center;
    }
    .nav-icon{
        margin-top: 20px;
    }
  
}


@media screen and (max-width:576px) {
   
    .hemaber-nav-menu{
        display: block;
    }
     .nav-icon{
        display: none;
     }
     .navber-main-container{
        flex-direction: row;
     }
     .hemaber-nav-menu i{
       color: wheat;
     }
}
/* ============navber-section-End-================== */

/* ======================banner-section-Start=========== */

.banner-main-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-titles{
    width: 50%;
  
}
.banner-titles h1{
    font-size: 50px;
    font-weight: 800;
}
.banner-titles p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}
.img-conatiner{
position: relative;
margin-right: 60px;
}
.offer-btn{
    position: absolute;
    top:210px;
    left: 205px;
   
    width: 40%;
    border-radius: 5px;
    padding: 12px;
   
    background-color: rgba(186, 186, 144, 0.216);
}
.offer-btn2 p{
   margin-left:20px;
   text-align: center;
}
.offer-btn2{
    position: absolute;
    top:450px;
    left: 40px;
    width: 40%;
    border-radius: 5px;
    padding: 12px;
    background-color: rgba(186, 186, 144, 0.216);
}
.img-conatiner img{
width: 100%;

}
.fa-solid{
    color: rgba(230, 83, 60, 1) ;
}
.btn-banner{
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgba(230, 83, 60, 1) ;
}
.btn-banner1{
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
   border: 1px solid;
    color: white;
    background: rgba(0,0,0,0.898);
}


@media screen and (max-width:576px) {
   
    .banner-main-section{
        flex-direction: column;
    }
}
/* =================banner-section-end================= */

/* ================change-section-start=============== */ 
.change-main-section{
    margin-top: 50px;
}
.change-main-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
   text-align: center;
   padding-top:80px ;
 
}
.change-title{
    text-align: center;
   width: 450px;
   margin: 0 auto;
   
}
.change-title-head-descption{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.change-title-head{
    font-size: 40px;
    font-weight: 700;
}
.change-img img{
    border-radius: 100px;
    
}
.change-titels{
    font-size: 32px;
    font-weight: 700;
    padding-top: 20px;
}
.chanhe-descption{
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
     color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width:576px) {
   
    .change-main-container{
        grid-template-columns: 1fr;
    }
}

/*=================change-section-end======================== */


/* ================run-in-section-start=================== */

.third-section{
    display: flex;
    background: rgba(34, 34, 34, 1);
    border-radius: 5px;
    justify-content: space-around;
    margin-top: 100px;
    padding: 60px;
   
}

.run-in-img-section img{
    width: 350px;
    height: 300px;
   justify-content: center;
   border-radius: 8px;
   
}
@media screen and (max-width:576px) {
   
    .third-section{
        flex-direction: column;
        text-align: center;
    }
    .run-in-img-section img{
    margin-top: 50px;
    width: 100%;
    }
    .run-in-title-section{
   text-align: center;
    }
}


/* ==========bunnes section start=========== */
.Exercises-Box{
    text-align: center;
    margin-top: 60px;
}
.Exercises-Box h1{
    font-size: 60px;
    font-weight: 800;
}
.bonnes-section{ 
    display: flex;
    gap: 10px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 120px;
    
}
.bunnes-title{
  
    border-radius: 10px;
    width: 350px;
    height: 450px;
    margin: 0 auto;
    box-shadow: rgba(253, 253, 255, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding-bottom: 50px;
}
.bunnes-title img{
    width: 60%;
    height: 100%;
    border-radius: 10px;
    margin-top: 20px;
    
    
}
.bunnes-title h1{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 60px;
}
.bunnes-title p{
    color: rgba(255, 255, 255, 0.5);
}
.doler{
    font-size: 25px;
    font-weight: 600;
    color: rgb(118, 103, 84);
}
.box-btn{
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(230, 83, 60, 1) ;
    border: none;
    color: wheat;
}
@media screen and (max-width:576px) {
   
    .bonnes-section{
        flex-direction: column;
        text-align: center;
    }
    
}
/* ======bunnes section end============= */
/* ===============run-in-section-end================== */

/* ============bim section start============= */

.from-section-title{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#area {
    width: 80%;
}
.bmi-main-hade{
    margin-left: 160px;
margin-top: 50px;
}
.bmi-main-hade h1{
    font-size: 50px;
    font-weight: 800;
}
.bmi-main-hade{
    font-size: 16px;
    font-weight: 400;
}
.Table-and-from--container{
    display: flex;
    justify-content: space-between;
    padding: 80px;
}
.table-section{
    width: 47%;
   
}
.from-conatler{
display: flex;
flex-direction: column;
width: 50%;

}
.from-field{
    width: 50%;
}
.from-field-text-area textarea{
    width: 100%;
}
.from-conatler input,textarea, select{
    border: 1px solid chartreuse;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}
.sex{
    padding-left: 118px;
    text-align: start;
}
.from-title{
    margin-left: 20px;
}
.from-title h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}
.from-title p{
    font-size: 16px;
    font-weight: 400;
}
#textarea{
    padding-left: 120px;
}
.table-titles{
    text-align: start;
    font-size: 25px;
}
.table-section{

}
table{
    border-collapse: collapse;
    margin-top: 40px;
}
th,td{
    border: 1px solid rgb(230, 228, 228);
    padding: 22px;
    
}
.calc-btn{
    padding:20px ;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 23px;
    border-radius: 10px;
    border: none;
    background-color: rgba(230, 83, 60, 1) ;
   color: white;

   font-size: 20px;

}
table > tbody>tr>td{
    color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width:576px) {
   
    .Table-and-from--container{
        flex-direction: column;
    }
    .bmi-main-hade{
 
        margin-left: 60px;
    }
    .table-section{
        width: 100%;
    }
    .from-title {
        width: 100%;
    }
    .from-section-title{
        grid-template-columns: 1fr;
    }
}


/*==================== bmi section end ================ */
/* ==========meet our section starts============ */
.meet-our-head-title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.meet-title{
    font-size: 45px;
    font-weight: 700;
}
.meet-title p{
    color: rgba(255, 255, 255, 0.5); 
    font-size: 16px;
    font-weight: 400;
}
.meet-our-section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background: rgba(34, 34, 34, 1);
  border-radius: 5px;
  padding: 20px;

  
}
.our-img-section img{
    width: 400px;
    height: 250px;
    border-radius: 5px;
    
}
.our-img-section{
position: relative;
}
.img-titles{
position: absolute;
top: 200px;
}
.img-titles >span{
    color: rgba(255, 255, 255, 0.5); 
    font-weight: 400;
    font-size: 16px;
}


@media screen and (max-width:576px) {
   
    .meet-our-section{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .img-titles{
        left: 100px;
    }
    
}


/* ==============meet our section end */

/* ==========footer section start========== */
.footer-section{
    display: flex;
    align-items: center;
    
    margin: 80px;
    justify-content: space-around;
}

.footer-main-title{
font-size: 48px;
color:  rgba(230, 83, 60, 1) ;
}
.footer-descption{
    font-size: 16;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5); 
}


.get-section h3{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.get-section p{
    font-size: 16px;
     color: rgba(255, 255, 255, 0.5); 
     font-weight: 400;

}
.button-footer{
    text-align: center;
    background-color: rgb(18, 19, 19);
    padding: 25px;

}
.button-footer a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5); 
}


@media screen and (max-width:576px) {
   
    .footer-section{
     flex-direction: column;
    align-items: start;
    
    }
    .fitness-title{  
    margin-bottom: 20px;
    }
    .get-section{
        margin-bottom: 15px;
    }
    
    
}
/* ============footer section end========= */